body {
  background-color: #212121 !important;
  font-family: 'Proza Libre', sans-serif !important;
}

.homepage-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.muted {
  color:#CACACA;
}

.fs-xsm {
  font-size: 0.818rem;
}

.fs-ms{
  font-size: 0.85rem;
}

.fs-sm {
  font-size: 1rem;
}

.fs-md {
  font-size:1.618rem;
}

.text{
  color:#eee;
}

.text-grad{
  background: linear-gradient(to right, #ff7f37 0%, #ffad70 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

a {
  text-decoration: none !important;
}

.social_link {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  background-color: #383838 !important;
  border-radius: 50px;
}

.social_link:hover {
  background-color: #656565 !important;
}

.social_link:hover i {
  color: #eee !important;
}

#notify{
  opacity: 0;
}